<div class="editor-toolbar">
  <button type="button" data-cmd="bold"><b>B</b></button>
  <button type="button" data-cmd="italic"><i>I</i></button>
  <button type="button" data-cmd="underline"><u>U</u></button>
  <span class="sep"></span>
  <button type="button" data-cmd="justifyLeft">Kiri</button>
  <button type="button" data-cmd="justifyCenter">Tengah</button>
  <button type="button" data-cmd="justifyRight">Kanan</button>
  <button type="button" data-cmd="justifyFull">Rata</button>
  <span class="sep"></span>
  <button type="button" data-cmd="insertOrderedList">1. List</button>
  <button type="button" data-cmd="insertUnorderedList">&bull; List</button>
  <span class="sep"></span>
  <button type="button" data-action="table">+ Tabel</button>
  <button type="button" data-action="box">+ Kotak</button>
  <span class="sep"></span>
  <button type="button" data-cmd="undo">Undo</button>
  <button type="button" data-cmd="redo">Redo</button>
</div>
<script src="/static/editor.js"></script>
